/*Variables*/
:root{
    --color-header: #141E61;
    --color-panel: #dad6d6;
    --color-texto: #EEEEEE;
    --color-black: rgb(54, 54, 54);
    --color-github: rgb(54, 54, 54);
}

/*Estilos glbales*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.6rem;
}
a{
    text-decoration: none;
    color: var(--color-black);
}
img{
    width: 100%;
    height: auto;
}
.seccion{
    padding: 1rem 2rem;
}
.subtitulo{
    margin-bottom: 2rem;
}

/*Estilos header*/
.header{
    padding: 2rem;
    background-color: var(--color-header);
    text-align: center;
}
.header__titulo{
    color: var(--color-texto);
}

/*Estilos panel*/
.panel{
    position: sticky;
    bottom: 0;
    z-index: 1;
    min-width: 100vw;
}
.nav,
.nav__item{
    display: flex;
}
.nav{
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-panel);
}
.nav__item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

/*Estilos habilidades*/
.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}
.habilidad{
    flex-basis: calc((100% / 2) - 2rem);
    padding: 2rem;
    text-align: center;
}

/*Estilos proyecto*/
.proyecto__imagen{ margin-bottom: 2rem; }
.proyecto__titulo{ margin-bottom: 1rem; }
.proyecto__github{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
    padding: 2rem;
    background-color: var(--color-github);
    color: var(--color-texto);
    border-radius: 1rem;
}
.proyecto__github img{
    width: 2rem;
    margin-right: 1.5rem;
}

/*Estilos form*/
.form__input{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
}
.form__input--correcto{
    border-color: greenyellow;
}
.form__input--incorrecto{
    border-color: red;
}   
.form__text{
    height: 12rem;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}
.form__submit{
    width: 100%;
    padding: 2rem;
}