/*Variables*/
:root{
    --color-header: #141E61;
    --color-panel: #dad6d6;
    --color-texto: #EEEEEE;
    --color-black: rgb(54, 54, 54);
}

/*Estilos glbales*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.6rem;
}
a{
    text-decoration: none;
    color: var(--color-black);
}

/*Estilos header*/
.header{
    padding: 2rem;
    background-color: var(--color-header);
    text-align: center;
}
.header__titulo{
    color: var(--color-texto);
}

/*Estilos panel*/
.panel{
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100vw;
}
.nav,
.nav__item{
    display: flex;
}
.nav{
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-panel);
}
.nav__item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}